@model ProductSearchModel

@{
    ViewData["Title"] = "List";
}

<div class="container clearfix">
    <div class="pull-right">
        <a asp-action="Create" class="btn"><i class="fa fa-plus-square"></i>AddNew</a>
    </div>
</div>

<div id="grid"></div>
<div id="detail"></div>

<script>
    function onChange(arg) {
        var cell = this.select(),
            cellIndex = cell.index(),
            dataSource = this.dataSource,
            dataItem = dataSource.view()[cell.closest("tr").index()];

        $.get("@Url.Action("DetailContent")", { id: dataItem.Id }, function (data) {
            $("#detail").data("kendoWindow").content(data).open();
        });
    };

    $(document).ready(function () {
        $("#grid").kendoGrid({
            dataSource: {
                //type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("List", "Product"))",
                        type: "POST",
                        dataType: "json",
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                pageSize: @(Model.PageSize),
                serverPaging: true,
            },
            pageable: {
                refresh: true,
                pageSizes: [@(Model.AvailablePageSizes)],
                @await Html.PartialAsync("_GridPagerMessages")
            },
            scrollable: false,
            selectable:"cell",
            change: onChange,
            columns: [
                {
                    field: "ProductName",
                    title: "Product Name",
                    headerAttributes: { style: "text-align:right" },
                    attributes: { style: "text-align:right" },
                    template: "<div>Product Name:#=ProductName#</div>"
                }
            ]
        });

        $("#detail").kendoWindow({
            width: "600px",
            title: "About Alvar Aalto",
            visible: false,
            modal: true
        });
    });
</script>


